<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteAgregar</servlet-name>
        <servlet-class>view.cliente.ClienteAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteActualizar</servlet-name>
        <servlet-class>view.cliente.ClienteActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteObtenerPorId</servlet-name>
        <servlet-class>view.cliente.ClienteObtenerPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteEliminar</servlet-name>
        <servlet-class>view.cliente.ClienteEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaAgregar</servlet-name>
        <servlet-class>view.cita.CitaAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaActualizar</servlet-name>
        <servlet-class>view.cita.CitaActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaEliminar</servlet-name>
        <servlet-class>view.cita.CitaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaObtenerPorId</servlet-name>
        <servlet-class>view.cita.CitaObtenerPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoAgregar</servlet-name>
        <servlet-class>view.empleado.EmpleadoAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoActualizar</servlet-name>
        <servlet-class>view.empleado.EmpleadoActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoEliminar</servlet-name>
        <servlet-class>view.empleado.EmpleadoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoObtenerPorId</servlet-name>
        <servlet-class>view.empleado.EmpleadoObtenerPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaAgregar</servlet-name>
        <servlet-class>view.mascota.MascotaAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaActualizar</servlet-name>
        <servlet-class>view.mascota.MascotaActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaEliminar</servlet-name>
        <servlet-class>view.mascota.MascotaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaObtenerPorId</servlet-name>
        <servlet-class>view.mascota.MascotaObtenerPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioAgregar</servlet-name>
        <servlet-class>view.usuario.UsuarioAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioActualizar</servlet-name>
        <servlet-class>view.usuario.UsuarioActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEliminar</servlet-name>
        <servlet-class>view.usuario.UsuarioEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioObtenerPorId</servlet-name>
        <servlet-class>view.usuario.UsuarioObtenerPorId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteAgregar</servlet-name>
        <url-pattern>/ClienteAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteActualizar</servlet-name>
        <url-pattern>/ClienteActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteObtenerPorId</servlet-name>
        <url-pattern>/ClienteObtenerPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteEliminar</servlet-name>
        <url-pattern>/ClienteEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaAgregar</servlet-name>
        <url-pattern>/CitaAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaActualizar</servlet-name>
        <url-pattern>/CitaActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaEliminar</servlet-name>
        <url-pattern>/CitaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaObtenerPorId</servlet-name>
        <url-pattern>/CitaObtenerPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoAgregar</servlet-name>
        <url-pattern>/EmpleadoAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoActualizar</servlet-name>
        <url-pattern>/EmpleadoActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoEliminar</servlet-name>
        <url-pattern>/EmpleadoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoObtenerPorId</servlet-name>
        <url-pattern>/EmpleadoObtenerPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaAgregar</servlet-name>
        <url-pattern>/MascotaAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaActualizar</servlet-name>
        <url-pattern>/MascotaActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaEliminar</servlet-name>
        <url-pattern>/MascotaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaObtenerPorId</servlet-name>
        <url-pattern>/MascotaObtenerPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAgregar</servlet-name>
        <url-pattern>/UsuarioAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioActualizar</servlet-name>
        <url-pattern>/UsuarioActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEliminar</servlet-name>
        <url-pattern>/UsuarioEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioObtenerPorId</servlet-name>
        <url-pattern>/UsuarioObtenerPorId</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
